<?php
$CONFIG = array (
  'trusted_domains' => 
  array (
{% for i in range (nextcloud_domains | count) %}
    {{ i }} => '{{ nextcloud_domains[i] }}',
{% endfor %}
  ),
  'datadirectory' => '{{ nextcloud_data_dir }}',
  'overwrite.cli.url' => '{{ nextcloud_overwrite_cli_url }}',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'redis' => 
  array (
    'password' => '{{ redis_password }}',
    'host' => '/var/run/redis/redis.sock',
    'port' => 0,
    'timeout' => 0.0,
  ),
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'loglevel' => 3,
  'log_type' => 'syslog',
  'syslog_tag' => 'nextcloud',
  'skeletondirectory' => '{{ nextcloud_skeleton_dir }}',
  'trashbin_retention_obligation' => 'auto, 30',
  'activity_expire_days' => 30,
  'maintenance_window_start' => 1,
  'connectivity_check_domains' => 
  array (
          0 => 'www.nextcloud.com',
          1 => 'de.wikipedia.org',
          2 => 'releases.ubuntu.com',
        ),
  'upgrade.disable-web' => {{ nextcloud_disable_web_upgrade }},
  'enable_previews' => false,
  'reference_opengraph' => false,
  'defaultapp' => 'files,dashboard',
  'default_locale' => '{{ nextcloud_default_locale }}',
  'default_language' => '{{ nextcloud_default_language }}',
  'default_phone_region' => '{{ nextcloud_default_phone_region }}',
);
