[nextcloud]

env[HOSTNAME] = {{ nextcloud_domains[0] }}
env[PATH] = /usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp

user = nextcloud
group = nextcloud
listen = {{ php_fpm_run_path}}/php-fpm-nextcloud.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660
 
pm = dynamic
pm.max_children = {{ 4 + ansible_memtotal_mb // 512 }}
pm.start_servers = {{ 1 + ansible_memtotal_mb // 512 }}
pm.min_spare_servers = {{ 1 + ansible_memtotal_mb // 512 }}
pm.max_spare_servers = {{ 2 + ansible_memtotal_mb // 512 }}

{% if ansible_memtotal_mb > 1000 %}
php_value[memory_limit] = 512M
{% else %}
php_value[memory_limit] = 256M
{% endif %}
php_value[post_max_size] = {{ nextcloud_client_max_body_size }}M
php_value[upload_max_filesize] = {{ nextcloud_client_max_body_size }}M
