#!/bin/sh

php /var/www/nextcloud/updater/updater.phar --no-interaction

php /var/www/nextcloud/occ upgrade -n

{% for app_name in (nextcloud_apps + additional_nextcloud_apps) | difference(removed_nextcloud_apps) %}
php /var/www/nextcloud/occ app:install {{ app_name }} -n
{% endfor %}

php /var/www/nextcloud/occ app:update --all -n

{% for app_name in (nextcloud_apps + additional_nextcloud_apps) | difference(removed_nextcloud_apps) %}
php /var/www/nextcloud/occ app:enable {{ app_name }} -n
{% endfor %}

{% for app_name in removed_nextcloud_apps %}
php /var/www/nextcloud/occ app:disable {{ app_name }} -n
{% endfor %}

php /var/www/nextcloud/occ db:add-missing-indices -n
php /var/www/nextcloud/occ db:add-missing-columns -n
php /var/www/nextcloud/occ db:add-missing-primary-keys -n
php /var/www/nextcloud/occ db:convert-filecache-bigint -n

